<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Academia Online</title>
	<link rel="stylesheet" th:href="@{/styles/styles.css}" />
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<div class="top-bar">
			<!-- Aquí puedes añadir cualquier elemento -->
			<p>EducaPro</p>
			<h4 id="welcome-text">Bienvenido Usuario</h4> <!-- le pongo un id para manipularlo -->

			<li class="nav-item">
				<a th:href="@{logout}" class="nav-link text-dark font-italic">
					<i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
					Salir
				</a>
			</li>
		</div>
	</header>
	<div class="container">
		<!-- Menú lateral -->
		<aside class="sidebar">
			<h2>Menú</h2>
			<div class="menu-item">
				<h3>Selecciona una materia</h3>
				<select id="materias"></select>
			</div>
			<div class="menu-item">
				<h3>Selecciona un test</h3>
				<select id="tests"></select>
			</div>
			<button id="loadTest" class="btn">Cargar preguntas</button>
		</aside>

		<!-- Contenido principal -->
		<main class="main-content">
			<div id="questions-container" class="questions-container">
				<!-- Las preguntas aparecerán aquí -->
			</div>
		</main>
	</div>

	<!-- Asegúrate de cargar jQuery antes de tu script.js -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="js/script.js"></script>

</body>

</html>